* {
    font-family: 'Times New Roman', Times, serif;
}

#box {
    background-color: rgb(204, 224, 99);
    text-align: center;
}

.heading {
    color: rgb(220, 69, 58);
}

/* h1,h2,h3 {
    color: rgb(209, 83, 83);
}  this is also the way to make color.*/

#btn1 {
    color: green
}

#heading2 {
    text-transform: capitalize;
    text-align: center;
}

#pd {
    font-size: 25px;
}

#cd {
    font-size: 10px
}

#para1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    color: rgb(52, 192, 185);
}

#para2 {
    text-align: center;
    font-weight: 600;
    font-family: cursive;
    text-decoration: underline;
    color: orangered;
}